

body{
    display:flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}


.header{
    display: flex;
    color:white;
    background: #1F2937;

    justify-content:space-between;
    align-items: center;
   



}

.footer{
    display: flex;
    background: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;

}


a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #E5E7EB;
    color: #1F2937;
    font-size: 24px;
}

.modal{
    display:flex;
    height:300px;
}

