

body{
    display:flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;;
    margin: 0;
}


.header{
    display: flex;
    color:white;
    background: #1F2937;

    justify-content:space-between;
    padding: 16px;
 

    height:500px;

    padding: 10px;

  
}

.header-logo{
    font-size: 24px;
    color:#F9FAF8;
    display: flex;
 

}

.Header-main-text{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #F9FAF8;
}

.header-subtext{
    font-size:18px;
    color:#E5E7EB;
    max-width: 450px ;
}

.header-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 128px ;
    


}

.container-text{
    margin-top: 78px;
}


.header-right{
    display: flex;
    flex-direction: column;
    margin-right: 126px;
}

img {
    height: 360px;
    width: 360px;
}

.header-img {
    margin-top: 70px;
    margin-left: 100px;
}


.sign-up{
    background: #3882F6;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    align-items: center;
    display: flex;
    height: 40px;
    width: 128px;

    margin-top: 16px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 32px 0;
}

.info-container {
    display: flex;
    gap: 32px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.box {
    border: 2px solid #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}

.box-text {
    font-size: 14px;
    color: #1F2937;
}




 

.footer{
    display: flex;
    background: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;
    height:50px;

}




.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    flex-wrap: wrap;
    padding: 16px;
 

}

.quote p{
    margin: 8px;
    text-align: center;
    
}




.author{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    color: #1F2937;
}





