

body{
    display:flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.footer{
    display: flex;
    background: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;

}

.header{
    display: flex;
    color:white;
    background: #1F2937;

    justify-content:space-between;
    align-items: center;
   

}

a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

