

body{
    display:flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    min-height: 100vh;;
    margin: 0;
}


.header{
    display: flex;
    color:white;
    background: #1F2937;

    justify-content:space-between;
    padding: 16px;
 

    height:500px;

    padding: 10px;

  
}

.header-logo{
    font-size: 24px;
    color:#F9FAF8;
    display: flex;
 

}

.Header-main-text{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #F9FAF8;
}

.header-subtext{
    font-size:18px;
    color:#E5E7EB;
    max-width: 450px ;
}

.header-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 128px ;
    


}

.container-text{
    margin-top: 78px;
}


.header-right{
    display: flex;
    flex-direction: column;
    margin-right: 126px;
}

img {
    height: 360px;
    width: 360px;
}

.header-img {
    margin-top: 70px;
    margin-left: 100px;
}


.sign-up{
    background: #3882F6;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
    width: 128px;

    border-radius: 8px;

    border: 2px solid #3882F6;
   

    margin-top: 16px;
    
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    padding-right: 20px;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 32px 0;
}

.info-container {
    display: flex;
    gap: 32px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;
}

.box {
    border: 2px solid #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}

.box-text {
    font-size: 14px;
    color: #1F2937;
}




 

.footer{
    display: flex;
    background: #1F2937;
    color: white;
    align-items: center;
    justify-content: center;
    height:50px;

}




.quote-container{
    display: flex;

    height: 300px;
    background: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    flex-wrap: wrap;
    padding: 16px;
    flex-direction: column;
   
  

}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
  

}

.quote{
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    max-width: 720px;


}

.quote-author{
    display: flex;
    font-weight: bold;
    font-size: 16px;
    margin-left: 256px;
   
    align-self: flex-end;
    
   
}








.modal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    color: #1F2937;
}

.modal{
    display:flex;
    width: 1000px;
    height: 100px;
    background: #3882F6;
    border-radius: 8px;
    justify-content: space-between;


 
    
}

.modal-text{
    display: flex;
    flex-direction: column;
   

    justify-content: center;
    margin-left: 64px;
  
    font-weight: bold;
    color: #F9FAF8;
    max-width: 500px;
}

.modal-subtext{
    color: #E5E7EB;
}


.modal-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 64px;
    
  
}
.modal-button{
    background: #3882F6;
    color: #F9FAF8;

    border: 2px solid #fff;

    border-radius: 8px;
    padding: 12px 24px;
    font-weight: bold;
    


}





